                               <!-- CAIXA BRANCA -->
                               <div class="caixa-branca">
                                 
                                 <!-- META HEADER -->
                                 <div class="caixa-branca-header">
                                    <div class="row">
                                       <div class="col-9 coluna-um no-padding">
                                          <div class="row">
                                             <div class="col-3 foto-perfil no-padding">
                                                 <div class="caixa-foto-perfil" style="background: url('assets/images/foto-perfil.png') #ccc no-repeat;background-size: cover;background-position: center center;">
                                                    <a href="javascript:void(0)" title="Ver perfil">
                                                       &nbsp;
                                                    </a>
                                                 </div>
                                             </div>
                                             <div class="col-9 nome-perfil" >
                                                <h4>Diogenes Junior <br><small>1h atrás</small></h4>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-3 coluna-dois no-padding">
                                           <a href="javascript:void(0)" title="Mais opções">
                                              <img src="assets/images/indicador-de-acoes.png" alt="Mais opções sobre a postagem">
                                           </a>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- META HEADER -->

                                 <p>
                                    Pessoal chegou a super oferta da campanha Agosto e Setembro de 2020! Corra por que tá todo mundo querendo!!
                                 </p>
                                 <p>
                                   <a href="#" title="Clique para ver mais sobre essa postagem">
                                      <img src="assets/images/foto-feed.png" alt="Foto de perfil">
                                   </a>
                                 </p>
                                 
                                 <!-- META BOTTOM -->
                                 <div class="caixa-branca-bottom">
                                    <div class="row">
                                       <div class="col-8 no-padding">
                                          <div class="row">
                                             <div class="col-4 no-padding coluna-um" onclick="app.curtir(this)">
                                                <a href="javascript:void(0)" title="Curtir">
                                                   <img src="assets/images/axe.svg" alt="Curtir">
                                                </a>
                                                <span>609</span>
                                             </div>
                                             <div class="col-4 no-padding coluna-um-dois" onclick="app.naocurtir(this)">
                                                <a href="javascript:void(0)" title="Não gostei">
                                                   <img src="assets/images/no-axe.svg" alt="Não gostei"> <span>120</span>
                                                </a>
                                             </div>
                                             <div class="col-4 no-padding coluna-dois" onclick="app.comentar(this)">
                                                <a href="javascript:void(0)" title="Comentários">
                                                   <img src="assets/images/comentarios.svg" alt="Comentários"> 120
                                                </a>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="col-4 no-padding coluna-tres">
                                           <a href="javascript:void(0)" title="Compartilhar essa postagem">
                                             Comp. <img src="assets/images/compartilhamento.svg" alt="Compartilhar essa postagem">
                                           </a>
                                       </div>
                                    </div>
                                 </div>
                                 <!-- META BOTTOM -->

                               </div>
                               <!-- CAIXA BRANCA -->